{
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"]
      }
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "extends": "@pancakeswap-libs/eslint-config-pancake",
  "rules": {
    "no-console": ["warn", { "allow": ["info", "warn", "error"] }],
    "no-plusplus": 0,
    "prefer-destructuring": ["warn", { "object": true, "array": false }],
    "no-underscore-dangle": 0,
    "@typescript-eslint/ban-ts-comment": [1, { "ts-ignore": false, "ts-nocheck": false }],
    "@typescript-eslint/no-use-before-define": ["warn", { "functions": false, "classes": false, "variables": false }],
    "@typescript-eslint/explicit-module-boundary-types": "warn",
    "@typescript-eslint/no-explicit-any": "warn",
    "radix": 0,
    "import/no-extraneous-dependencies": 0
  }
}
